@charset "ISO-8859-1";



table.description {
  border-color: #888;
  border-style: solid;
  border-width: medium;
  width: 40em;
  border-collapse: collapse;
}

table.description td {
  margin: 0;
  padding: 40;
  border-style: solid;
  border-color: grey;
  border-width: thin;
  width: 50%;
}

table.dataTable {
  border-color: #888;
  border-style: solid;
  border-width: thin;
  border-collapse: collapse;
}

table.dataTable td,
table.dataTable th {
  margin: 0;
  padding: 2;
  border-color: grey;
  border-style: solid;
  border-width: thin;
  text-align: left;
  vertical-align: top;
}

table.dataTable td table.dataTable {
  width: 100%;
}



.highlight-row:hover {
  background-color : #f0f0f0;
  cursor: pointer;
}

.closeInfoIcon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
}


div.scrollableContainer {
  height: 400px; 
  overflow: auto;
  border: 1px solid #ccc;
}

table.scrollable {
  width: 100%;
  border-collapse: collapse;
}

table.scrollable th,
table.scrollable td {
  border: 1px solid #ddd;
  padding: 8px;
  min-width: 100px; /* Adjust as needed */
}

table.scrollable thead {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  z-index: 1;
}

.bottom-right-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.bottom-right-container lightning-input {
  width: 150px; /* Adjust as needed */
}
